# Backend
backend/venv/
backend/testenv/
backend/__pycache__/
backend/.env
backend/*.db
backend/.pytest_cache/
backend/.coverage
backend/htmlcov/
backend/uploads/
backend/data/
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/*.so
backend/.vscode/
backend/.idea/
backend/.DS_Store
backend/app/.DS_Store
backend/app/__pycache__/
backend/app/api/v1/__pycache__/
backend/app/services/rag/__pycache__/
backend/app/services/file/__pycache__/
backend/app/services/chat/__pycache__/
backend/app/services/auth/__pycache__/
backend/app/services/ai_gateway/__pycache__/
backend/app/services/admin/__pycache__/
backend/app/services/__pycache__/
backend/app/schemas/__pycache__/
backend/app/models/__pycache__/
backend/app/db/__pycache__/
backend/app/core/__pycache__/
backend/tests/__pycache__/

.DS_Store

# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env
frontend/env
frontend/.next/

frontend/.vscode/
frontend/.idea/
frontend/.DS_Store






